.pokemonCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: var(--light-background);
  width: 150px;
  gap: 15px;
  border-radius: 10px;
}

.typeContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.typeContainer p {
  font-size: .75rem;
  font-weight: bold;
  color: var(--light-background);
  padding: 5px;
  border-radius: 5px;
  text-transform: capitalize;
}

.pokemonName {
  color: var(--white);
  font-size: 1.25rem;
  text-transform: capitalize;
}

@keyframes loading {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.loading {
  animation: loading 4s linear infinite;
}